body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  background-color: #fdfaf3;
}

p {
  margin: 0;
  padding: 1% 5%;
}

a {
  color: #2B2D42;
}

h1, h2, h3, h4, ul {
  padding: 0 5%;
}

h1, h2 {
  font-family: 'Crete Round', serif;
  margin: 0;
}

h1 {
  font-size: 6vw;
  color: #2B2D42;
  padding-bottom: 3%;
  padding-top: 2%;
}

h2 {
  color: #8D99AE;
  font-size: 4vw;
}

h3 {
  color: #F8F32B;
  font-weight: bold;
  font-size: 2.5vmax;
}

ul li:before {
  content:"\2713\0020";
}

ul {
  list-style-type: none;
}

.mt {
  margin-top: 3%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  body, h2, h3 {font-size: 6vw;}
  h1 {font-size: 11vw;}
}
