<!DOCTYPE html>
<html>
  <head>
    <meta name="description"
          content="Someplace nice is the home of Adam Forsythe-Cheasley. A software developer from Bristol, UK." />
    <meta name="author" content="Adam Forsythe-Cheasley" />
    <title>{{ site.name }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Crete+Round|Raleway:400,700"
          rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
  </head>

  <body>
    <h1>Adam Forsythe-Cheasley</h1>
    
    {{ content }}
  </body>

</html>
