<!DOCTYPE html>
<html>
<head>
  <meta name="description"
        content="Someplace nice is the home of Adam Forsythe-Cheasley. A software developer from Bristol, UK." />
  <meta name="author" content="Adam Forsythe-Cheasley" />
  <title>{{ site.name }}</title>
  <link href="https://fonts.googleapis.com/css?family=Crete+Round|Raleway:400,700"
        rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
</head>

  <body>

    <div class="container">
    <h1>
      {{ page.title }}
    </h1>

    <p class="muted">{{ page.date | date_to_long_string }}</p>

    {{ content }}

  </div>

  </body>

</html>
